---
layout: default
---

</div>
{% for post in site.posts %}
<div class="col-md-6 col-sm-12">
    <a href="{{ site.baseurl }}{{ post.url }}">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{ post.title | escape }}</h4>
            </div>
            {% if post.image %}
            <img class="img-fluid" src="{{ site.baseurl }}/images/thumbnail/{{ post.image }}" alt="Card image">
            {% endif %}
            <div class="card-block">
                <p class="card-text">
                    {{ post.teaser }}
                </p>
            </div>
        </div>
    </a>
</div>
{% endfor %}