<!-- Start Header.. -->
<div class="container m-t-2">
<div class="page-header" style="padding-bottom: 9px; margin: 20px 0 20px; border-bottom: 1px solid #eee;">
  
  <div class="row align-items-center">
      <div class="col-md-4 mx-auto">
          <h2><span class="ndfc-brand">Dr <b>Neill Campbell</b></span><br class="d-none"></h2>
      </div>
      <div class="col-md-8 mx-auto">
          <h2>
            <small style="color: #555555;"><b>Royal Society
              <br class="d-none"> Industry Fellow</b>
              <br class="d-md-none d-lg-block d-xl-none"> and <b>Senior Lecturer</b>
              <br class="d-none d-xl-block"> in <b>Visual Computing</b>
              <br class="d-sm-none d-md-block d-xl-none"> and <b>Machine Learning</b>
            </small>
          </h2>
      </div>
  </div>

</div>
</div>
<!-- End Header.. -->