<!doctype html>
<html lang="en">
  <head>
    {% include head_includes.html %}

    <title>{{ site.title}} : {{ page.title }}</title>
  </head>

  <header>
  </header>

  <body>
    {% include navbar.html %}
    {% include header_full.html %}
    
    <main role="main" class="container">

      {% if page.use_word_cloud %}
      <div class="row align-items-center">
        <div class="col-xs-12 mx-auto pt-1 mb-3">
          <img class="img-fluid align-self-start" src="{{ site.baseurl }}{{ site.wordcloud }}" alt="Word Cloud">
        </div>
      </div>
      {% endif %}
      
      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-6 d-xs-block d-md-none ml-3 mr-3 mb-3">
          {% include sidebar.html just_critical="true" %}
        </div>

        <div class="col-xs-12 col-md-8">
          {{ content }}
        </div>

        <div class="col-xs-6 col-md-4">
          {% include sidebar.html %}
        </div>
      </div>
    
    </main>

    <footer class="footer bg-light" style="border-top: 1px solid #d8dce0!important">
      {% include footer.html %}
    </footer>

    {% include scripts.html %}
  </body>
</html>
